.nav-link{
  padding-left: 20px;
}
.nav-link:hover {
  background-color: gray;  
  color: white; 
  border-radius:5px;
}
.dragdrop{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 260px;
  border:4px dashed rgb(117, 112, 112, 1.0);
  padding:20px;
}